<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <p>The University of Texas at Arlington is a comprehensive research, teaching, and public service institution whose mission is the advancement of knowledge and the pursuit of excellence.</p>
        <h2>Our Campus</h2>

        <p>Our campus spans 420 acres and includes more than 100 buildings and state-of-the-art facilities. Located in the heart of the Dallas-Fort Worth Metroplex, we’re able to offer flexible, innovative educational opportunities.</p>

        <h2>Our Academics
        </h2>
        <p>Through academic, internship, and research programs, our students receive real-world experiences that help them contribute to their community and, ultimately, the world. Each year, over 41,000 students engage in in-person and online coursework as they pursue studies in the 180-plus baccalaureate, master's, and doctoral degree programs we offer.</p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>STUDENTS ENROLLED</dt>
              <dd>41,000+</dd>
              <dt>DEGREES AWARDED ANNUALLY</dt>
              <dd>13,000+</dd>
              <dt>ALUMNI</dt>
              <dd>270,000+</dd>
              
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>“Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.”</h3>
        <footer>― Pelé, 
          <cite>Brazillian pro footballer</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


  <div fxFlex>
    <h2>Corporate Leadership</h2>
    <mat-list *ngIf="leaders">
      <mat-list-item *ngFor="let leader of leaders">
        <img mat-list-avatar src={{leader.image}} alt={{leader.name}}>
        <h4 matLine>{{leader.name }} </h4>
        <p matLine>{{leader.designation }} </p>
        <p matLine>{{leader.description }}</p>

      </mat-list-item>  
    </mat-list>
    <div [hidden]="leaders">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
  </div>
  
</div>